/* form */
.field-group {
    display: flex;
    flex-wrap: wrap;
    .field {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        &-label {
            width: 80px;
            font-size: 14px;
            + .field-text {
                width: calc(100% - 80px);
                font-size: 16px;
            }
            &.w100p {
                width: 100px;
                + .field-text { width: calc(100% - 100px); }
            }
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        &-col {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            width: 100%;
            
        }
    }
    &.field-table {
        align-items: flex-start;
        width: 100%;
        .field {
            align-items: stretch;
            align-content: center;
            width: 100%;
            + .field { margin-top: 1px; }
            > div {
                padding: 10px 15px;
            }
            .field-label {
                width: 30%;
                max-width: 100px;
                color: $colorWhite;
                font-size: 16px;
                background-color: $colorDark;
            }
            .field-text {
                width: 70%;
                max-width: calc(100% - 100px);
                background-color: $colorWhite;
            }
        }
    }
}