@charset "UTF-8";
$main: #9A00FF;
$main50: rgba($main, 0.5);
$main20: rgba($main, 0.2);
$mainlight : #81A18E;
$second: #0A1B2E;

$red : #FF0000;
$yellow: #FFF000;
$orange: #FF792A;
$black : #000;
$black80 : rgba($black, 0.8);
$gray : #C5C5C5;
$white : #fff;


$Youtube: #ff0000;
$Facebook: #1778f2;
$Line: #00b900;

$tran-15s : all .15s cubic-bezier(0.165, 0.84, 0.44, 1);
$tran-25s : all .25s ease-in-out;

$font: 'Roboto', 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, vadana;


@mixin ease { transition: all .5s ease; }

